.checkbox {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0.07rem solid black;
    background-color: transparent;
}

.completed {
    background-color: #B7CFF3;
}
.taskCompleted {
    text-decoration: line-through;
}
.task {
    border-top:  1px solid #F5F5F5 ;
    border-bottom:  1px solid #F5F5F5 ;
    cursor: pointer;
}
.task p {
    font-size: 20px;
}
.task:hover {
    background-color: #E7F6FE;
}
